asn1crypto==0.24.0
attrs==17.4.0
Automat==0.6.0
blinker==1.4
certifi==2021.10.8
chardet==3.0.4
charset-normalizer==2.0.7
click==8.0.3
cloud-init==20.2
colorama==0.3.7
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
cryptography==2.1.4
dataclasses==0.8
distro-info===0.18ubuntu0.18.04.1
filelock==3.3.1
httplib2==0.9.2
huggingface-hub==0.0.19
hyperlink==17.3.1
idna==3.3
importlib-metadata==4.8.1
incremental==16.10.1
Jinja2==2.10
joblib==1.1.0
jsonpatch==1.16
jsonpointer==1.10
jsonschema==2.6.0
keyring==10.6.0
keyrings.alt==3.0
language-selector==0.1
MarkupSafe==1.0
netifaces==0.10.4
numpy==1.19.5
oauthlib==2.0.6
packaging==21.0
PAM==0.4.2
protobuf==3.18.1
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycrypto==2.6.1
pygobject==3.26.1
PyJWT==1.5.3
pyOpenSSL==17.5.0
pyparsing==2.4.7
pyserial==3.4
python-apt==1.6.5+ubuntu0.3
python-debian==0.1.32
pyxdg==0.25
PyYAML==6.0
regex==2021.10.8
requests==2.26.0
requests-unixsocket==0.1.5
sacremoses==0.0.46
SecretStorage==2.3.1
sentencepiece==0.1.91
service-identity==16.0.0
six==1.16.0
ssh-import-id==5.7
systemd-python==234
tokenizers==0.10.3
torch==1.9.1
tqdm==4.62.3
transformers==4.11.3
Twisted==17.9.0
typing-extensions==3.10.0.2
ufw==0.36
unattended-upgrades==0.1
urllib3==1.26.7
zipp==3.6.0
zope.interface==4.3.2
